.App {
  text-align: center;
  direction: rtl;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@font-face {
  font-family: "Drugulin";
  src: url(../fonts/drugulinclm-bold-webfont.woff) format("woff"),
    url(../fonts/drugulinclm-bold-webfont.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Drugulin";
  src: url(../fonts/drugulinclm-bolditalic-webfont.woff) format("woff"),
    url(../fonts/drugulinclm-bolditalic-webfont.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  direction: rtl;
}

.editor-wrap {
  display: flex;
}

.text-box {
  font-family: "Drugulin", "Arial", sans-serif;
  padding: 0.3em;
  border: 1px black solid;

  background: #ededed;
  width: 25em;
  min-height: 6em;

  color: #121212;
  font-size: 1.8em;
  cursor: not-allowed;

  &.active {
    cursor: text;
  }
}
.menu {
  padding: 0.3em;
  border: 1px black solid;
  height: 6em;

  font-size: 1.8em;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-size: 1.2em;
}

$koteret: #aa7700;
$omer: #aa0000;
$mikre: #aa0077;
$din: #007700;
$tam: #3355aa;
.type {
  &.כותרת {
    color: $koteret;
    &.active {
      background-color: $koteret;
    }
  }
  &.אומר {
    color: $omer;
    &.active {
      background-color: $omer;
    }
  }
  &.מקרה {
    color: $mikre;
    &.active {
      background-color: $mikre;
    }
  }
  &.דין {
    color: $din;
    &.active {
      background-color: $din;
    }
  }
  &.טעם {
    color: $tam;
    &.active {
      background-color: $tam;
    }
  }
  &.active {
    color: white;
  }
}
